.clear { 
clear: both; 
height: 0;
font-size: 0;
overflow: hidden;
margin: 0;
padding: 0;
width: 0;
line-height: 0;
}

body {
    background-image: url("/static/img/molecular-gastronomy-orig.jpg");
    background-color: "white";
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.img-responsive {
 display: block;
 height: auto;
 max-width: 100%;
}


.text_results {
  
  margin-right: 0;
  float:left;   

}

/*#user_sidebar {
float: right; 
}*/

.svg_test {

	float:right;
	
}

.form-group {
	width: auto;
}

.img-responsive {
 display: block;
 height: auto;
 max-width: 100%;
}
