<!DOCTYPE html>
<html>
	<head>
    	<title>Flavornet</title>
    	<link rel="stylesheet" type="text/css" href="static/css/typeahead.css">
		<link rel="stylesheet" type="text/css" href="static/css/reingold_tilford.css">
    	<script src="static/js/d3.min.js"></script>
    	<script src="http://d3js.org/d3.v3.min.js"></script>
    	<script src="static/js/reingold_tilford.js"></script>
    	<script src="https://code.jquery.com/jquery.js"></script>
    	<script src="static/js/typeahead.js"></script>
    	<script src="static/js/ingrs_fcis_typeahead.js"></script>
    	
	</head>
<body>

{% block content %}
    Put your body here.
{% endblock %}
		
</body>
</html>

