<!DOCTYPE html>
<html>
	<head>
    	<title>Flavornet</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    	<link rel="stylesheet" type="text/css" href="/static/css/homepage.css">
    	<link rel="stylesheet" type="text/css" href="/static/css/typeahead.css">
    	<script src="/static/js/d3.min.js"></script>
    	<script src="http://d3js.org/d3.v3.min.js"></script>	
    	<script src="https://code.jquery.com/jquery.js"></script>
    	<script src="static/js/typeahead.js"></script>
    	<script src="static/js/ingrs_fcis_typeahead.js"></script>
    	
	</head>
<body>
<h3>Flavornet</h3>

<div class="navbar">
	<div="indices">
		<p>Ingredients</p>
		<p><a href="/ingredients">View all ingredients</a>
	
		<p>Flavor Compounds</p>
		<p><a href="/flavorcompounds">View all flavor compounds</a>
	</div>
</div>

<div id="user_input">
	<p> To query ingredient pairs:</p>
 
		<form action="/ingredient_pairs">
	  		<div id ="ingredient_pairs_typeahead">
		  		<label>
		  		<input class="typeahead form-control" name="ingr_zero_input" type="text" placeholder="i.e. lemon">
		  		</label>
	  		</div>  		
	<br>
	    <input type="submit"> 
		</form>

	<p>To query ingredients within a cuisine:</p>

		<form action="/ingredient_pairs/cuisines">
			<div id="ingredient_pairs_typeahead">
		        <label>Enter a starting ingredient:
		        <input class="typeahead form-control" type="text" name="ingr_zero_input" placeholder="i.e. lemon">
		        </label>
	        </div>
	<br>
			<div id="cuisines_typeahead">
		        <label>Enter a cuisine:
		        <input class="typeahead form-control" type="text" name="cuisine_input" placeholder="i.e. Italian">
		        </label>
	        </div>
	<br>
	    <input type="submit"> 
		</form>
</div>

<br>

{% block content %}

{% endblock %}
		
</body>
</html>

