{% extends 'base.html' %}

{% block header %}

<style>

body {
    background-image:none;
    background-color: "white";
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}


</style>


{% endblock %}

{% block content %}
<div class="text_results">
  <h3>All Flavor Compounds</h3>
  
  <ul>
  {% for flavorcompound in flavorcompounds %}
    <li>
      <a href="/flavorcompounds/{{ flavorcompound.id }}">{{ flavorcompound.name }}</a>
    </li>
  {% endfor %}
  </ul>
 </div>
{% endblock %}