{% extends 'base.html' %}

{% block header %}

<style>

/*Homepage CSS*/ 
body {
    background-image:none;
    background-color: "white";
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

/*relevant to formatting of Force Layout: D3.js*/ 
.node {
  cursor: pointer;
}

.node circle {
  fill: solid;
  stroke: steelblue;
  stroke-width: 2px;
}

.node text {
  font: 15px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

</style>

<!--extending the base template--> 

{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-8">
    <div class="text_results">
      <h3>  
        {{ ingr_zero_name.upper() }}  
      </h3>
      <br><br>
        
        {% for ingr_one_name in ingr_one_names %}
        
          <li>{{ ingr_one_name[0] }} shares: {{ ingr_one_name[1]}} compounds </li>

        {% endfor %}

    </div>    
  </div>

  <div class="col-md-4">
    <div id="svg_test">
    </div>
  </div>
</div>

<!--Beginning of Collapsible Force Layou: D3.js--> 

<script>

  var width = 1000,
      height = 1000,
      root;

  var color = d3.scale.category20()

  var force = d3.layout.force()
      .linkDistance(120)
      .charge(-120)
      .gravity(.05)
      .size([width, height])
      .on("tick", tick);

  var svg = d3.select("#svg_test").append("svg")
      .attr("width", width)
      .attr("height", height);
      console.log(svg) 

  var link = svg.selectAll(".link"),
      node = svg.selectAll(".node");

  d3.json("/ingredient_pairs.json?ingredient={{ingr_zero_name}}", function(error, json) {
    root = json;
    update();
  });

  function update() {
    var nodes = flatten(root),
        links = d3.layout.tree().links(nodes);

    // Restart the force layout.
    force
        .nodes(nodes)
        .links(links)
        .start();

    // Update links.
    link = link.data(links, function(d) { return d.target.id; });

    link.exit().remove();

    link.enter().insert("line", ".node")
        .attr("class", "link");

    // Update nodes.
    node = node.data(nodes, function(d){ return d.id; });

    node.exit().remove();

    var nodeEnter = node.enter().append("g")
        .attr("class", "node")
        .on("click", click)
        .call(force.drag);

    nodeEnter.append("circle")
        .attr("r", function(d){ return Math.sqrt(d.size) / 10 || 4.5; });

    nodeEnter.append("text")
        .attr("dy", ".35em")
        .text(function(d){ return d.name; });

    node.select("circle")
        .style("fill", color);
  }

  function tick() {
    link.attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
  }

  function color(d) {
    return d._children ? "#3182bd" // collapsed package
        : d.children ? "#c6dbef" // expanded package
        : "#fd8d3c"; // leaf node
  }

  // Toggle children on click.
  function click(d) {
    if (d3.event.defaultPrevented) return; // ignore drag
    if (d.children) {
      d._children = d.children;
      d.children = null;
    } else {
      d.children = d._children;
      d._children = null;
    }
    update();
  }

  // Returns a list of all nodes under the root.
  function flatten(root) {
    var nodes = [], i = 0;

    function recurse(node) {
      if (node.children) node.children.forEach(recurse);
      if (!node.id) node.id = ++i;
      nodes.push(node);
    }

    recurse(root);
    return nodes;
  }

  </script>

{% endblock %}